.description{
    position: absolute;
    right:3%;
    top:20%;
    /* float: right; */
    padding-top: 3rem;
    width:48%;
    
    /* background: rgb(2,0,36); */
    /* background-image: linear-gradient(to right, #fffbd5, #fc5c7d); */
}

.heading{
    position: relative;
    right:-2rem;
    font-size: 6rem;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5rem;
}

.desc{
    font-size: large;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 1.8rem;
}